<div class="container">
  <h1>Edit Übung</h1>
  <%= render 'form', uebung: @uebung %>

  <div class="mt-4">
    <%= link_to 'Zurück zum Übungen', coach_uebungs_path, class: 'btn btn-primary' %>
  </div>
</div>