<div class="container">
  <h1 class="text-center mb-4">Home</h1>
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Choose your option</h2>
      <div class="button-group mt-4">
        <%= link_to 'Student', '/student/trainings', class: 'btn btn-primary' %>
        <%= link_to 'Trainings', '/coach/trainings', class: 'btn btn-info' %>
        <%= link_to 'Übungen', '/coach/uebungs', class: 'btn btn-warning' %>
      </div>
      <div class="mt-4">
        <%= button_to 'Logout', destroy_benutzer_session_path, method: :delete, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>
