<div class="container">
  <h1>Available Trainings</h1>
  
  <div class="text-center mb-4">
    <%= link_to "Back to Home", root_path, class: "btn btn-primary btn-lg" %>
  </div>
  
  <div class="card-container">
    <% @trainings.each do |training| %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= training.title %></h5>
          <hr>
          <p class="card-text"><%= truncate(training.description, length: 100) %></p>
          <div class="button-group">
            <%= link_to 'View', student_training_path(training), class: 'btn btn-info' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>