<div id="<%= dom_id training %>">
  <p>
    <strong>Title:</strong>
    <%= training.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= training.description %>
  </p>

  <p>
    <strong>Benutzer:</strong>
    <%= training.benutzer_id %>
  </p>

</div>
