<% content_for :title, "Editing training" %>

<h1>Editing training</h1>

<%= render "form", coach_training: @coach_training %>

<br>

<div>
  <%= link_to "Show this training", @coach_training %> |
  <%= link_to "Back to trainings", coach_trainings_path %>
</div>
