<p style="color: green"><%= notice %></p>

<% content_for :title, "Trainings" %>

<h1>Trainings</h1>

<div id="coach_trainings">
  <% @coach_trainings.each do |coach_training| %>
    <%= render coach_training %>
    <p>
      <%= link_to "Show this training", coach_training %>
    </p>
  <% end %>
</div>

<%= link_to "New training", new_coach_training_path %>
