<div class="container">
  <h1>New Training</h1>

  <%= render "form", coach_training: @training %>

  <div class="mt-4">
    <%= link_to "Back to trainings", coach_trainings_path, class: 'btn btn-primary' %>
  </div>
</div>